name: bluetooth_wifi_sender
description: A Flutter app to send WiFi credentials over Bluetooth to RPi
publish_to: "none"

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  flutter_blue_plus: ^1.35.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1   

flutter_icons:                     
  android: true
  ios: true
  image_path: "assets/images/logo.png"

flutter:
  uses-material-design: true
